/* ==========================================================================
   Variabeles
   ========================================================================== */
// http://paletton.com/#uid=32Q0q0kf3avinlFlri19-49fj3J
$c-base__03: #0C170D;
$c-base__02: #0C170D;
$c-base__01: #121A13;
$c-base__00: #121A13;
$c-base__0: #869395;
$c-base__1: #96A0A0;
$c-base__2: #EDE7D6;
$c-base__3: #FCF5E4;

$c-accent__green: #234225;
$c-accent__darkblue: #234225;

// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;
